<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.title }}">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>{{ page.title }}</title>
    <!-- The Good Rat and Raven core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/dist/css/cover.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          {% include main-nav.html %}
          <p class="lead"><a href="blog.html">The Good Rat and Raven has something to say.</a></p>
      <div class="rat">
        <div class="row">
          <div class="col-md-8">
            